/*
COLORES
Marrón Chocolate (#3D1C02)
Naranja Brillante (#FFA500)
Gris Neutro (#A2A2A2)
Azul Claro (#5BC0EB)
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html,
body,
a,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul,
ol {
    font-family: 'Oswald', sans-serif !important;

}


:root {
    --color-first: #3D1C02;
    --color-second: #5BC0EB;
    --color-third: #ffffff;
}

/*HEADER*/
header {
    background: var(--color-first);
    padding: 20px 0 20px 0;
}

.nav-link {
    color: var(--color-second) !important;
}

.navbar-brand {
    color: var(--color-second) !important;
}

#basic-navbar-nav {
    flex-grow: inherit !important;
}


/*CAROUSEL*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.carousel-caption p {
    font-size: 40px;
    line-height: 40px;

}



/**
*GENERIC
*/
.title-page{
    margin-top: 10px;
}
.product-link{
    text-decoration: none;
}
.product-img{
    transition: all ease 500ms;
}
.product-img:hover{
    opacity: 0.2;
}
.product-title{
    color: #000;
    font-size: 20px;
    font-weight: 900;
}
.product-price{
    color: #000;
    font-size: 18px;
}
.message-error{
    color: red;
    margin-top: 10px;
}

/**
*MEDIAS QUERYS
*/
@media (max-width:800px) {
    .carousel-caption p {
        font-size: 20px;
        line-height: 25px;
    }
}